<header>
    <div class="container">
        <div class="search">
            <input type="text" placeholder="    search...">
            <fa-icon [icon]="faSearch" class="kart"></fa-icon>
        </div>
        <div class="buttons">
            <fa-icon [icon]="faBars" (click)="showContent()" class="selec"></fa-icon>
            <a [routerLink]="['/']">Home</a>
            <a [routerLink]="['/login']">Login</a>
            <button>Create account</button>
            <a href="#">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </a>
        </div>

    </div>
</header>