<header>
    <div class="container">
        <div class="search">
            <input type="text" placeholder="    search...">
            <fa-icon [icon]="faSearch" class="kart"></fa-icon>
        </div>

        <div class="buttons">
            <a [routerLink]="['/offers']" routerLinkActive="active" >
                <fa-icon [icon]="faHome"></fa-icon>
                Home
            </a>
            <a [routerLink]="['/login']" routerLinkActive="active">
                <fa-icon [icon]="faUser"></fa-icon>
                Login
            </a>
            <a [routerLink]="['/cart']" routerLinkActive="active">
                <fa-icon [icon]="faShoppingCart"></fa-icon>
            </a>
        </div>
    </div>
</header>