<app-banner></app-banner>
<div class="section">
    <app-side-selection></app-side-selection>
    <h5>A total of {{ data.length}} products were found...</h5>
    <div class="grid">
        <app-card-items *ngFor="let item of data" [item]="item"></app-card-items>
    </div>

    <div class="paginator">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
        <div class="pag">1</div>
        <div class="pag">2</div>
        <div class="pag">3</div>
        <fa-icon [icon]="faArrowRight"></fa-icon>
    </div>

</div>


<div class="payments">
    <app-payment-card *ngFor="let item of paymentCard" [item]="item"></app-payment-card>
  
</div>

