<app-header></app-header>
<app-banner></app-banner>

<div class="section">
    <app-side-selection></app-side-selection>
    <div class="grid">
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
        <app-card-items></app-card-items>
    </div>

</div>


<div class="payments">
    <app-payment-card></app-payment-card>
    <app-payment-card></app-payment-card>
    <app-payment-card></app-payment-card>
</div>

<app-footer></app-footer>