.container
    display: flex
    flex-direction: column
    width: 220px
    padding: 5px
    border-radius: 5px
    background-color: #FFF
    box-shadow: 3px 3px 5px #dadada

    .title
        width: 100%
        font-weight: bold
        text-align: center
        margin-top: 5%

    .items-list
        display: flex
        flex-direction: column
        width: 75%
        margin: 0 auto
        margin-top: 10%
        margin-bottom: 10%

        .item
            display: flex
            align-items: center
            padding: 3px
            font-weight: bold
            transition: all ease 0.5s


.item:hover
    transform: translateX(10%) 
    color: #4fe28c
