<div class="container">
    <div class="title">Categories</div>
    <div class="items-list">
        <div class="item">
            <a [routerLink]="['/offers']">Offers</a>
        </div>
        <div class="item">
            <a [routerLink]="['/smartphones']">Smartphones</a>
        </div>
        <div class="item">
            <a [routerLink]="['/mouses']">Mouses</a>
        </div>
        <!-- <div class="item">
            <input type="checkbox" name="" id="">
            <span>Computer</span>
        </div>
        <div class="item">
            <input type="checkbox" name="" id="">
            <span>Tablet</span>
        </div>
        <div class="item">
            <input type="checkbox" name="" id="">
            <span>Mouse</span>
        </div>
        <div class="item">
            <input type="checkbox" name="" id="">
            <span>Notebook</span>
        </div> -->
        

    </div>
</div>